In [17]:
import pandas as pd
import numpy as np
import sklearn as sk

In [5]:
pwd

'/Users/mihaelanemes'

In [6]:
cd Desktop/s2ds/data/Data

/Users/mihaelanemes/Desktop/s2ds/data/Data

In [8]:
food_and_you_wales = pd.read_csv("food_and_you_all_waves_wales.csv")
print (food_and_you_wales)

      SerialNo  RespSex  age_dv  bhhsize2  below6  below16  marstat2  hhdinc  \
0       100027        2      -1        -1      -1        1         1       3
1       100037        2      -1        -1      -1        2         1      -9
2       100129        2      -1        -1      -1        2         1       4
3       100130        1      -1        -1      -1        2         1       4
4       100285        2      -1        -1      -1        2         1       4
5       100314        1      -1        -1      -1        1         1       2
6       100406        2      -1        -1      -1        2         2       2
7       100591        2      -1        -1      -1        2         1      -9
8       100815        2      -1        -1      -1        2         2       1
9       100969        1      -1        -1      -1        2         2      -9
10      101144        2      -1        -1      -1        1         1      -9
11      101169        2      -1        -1      -1        2         1       3
12      101189        2      -1        -1      -1        2         2       4
13      101196        2      -1        -1      -1        1         2       1
14      101284        2      -1        -1      -1        2         2       1
15      101316        2      -1        -1      -1        2         1       3
16      101481        2      -1        -1      -1        2         1       3
17      101696        1      -1        -1      -1        2         1       1
18      101926        1      -1        -1      -1        2         1       3
19      102129        1      -1        -1      -1        2         1       2
20      102734        1      -1        -1      -1        2         1      -9
21      102789        1      -1        -1      -1        2         2      -9
22      103010        2      -1        -1      -1        2         2       1
23      103034        1      -1        -1      -1        2         2      -9
24      103177        1      -1        -1      -1        1         2       2
25      103452        1      -1        -1      -1        2         2       1
26      103470        1      -1        -1      -1        2         1      -9
27      103540        2      -1        -1      -1        1         1       3
28      103589        2      -1        -1      -1        2         2       1
29      103685        2      -1        -1      -1        2         2       1
...        ...      ...     ...       ...     ...      ...       ...     ...
1727    513665        1       3         4       1        1         1       3
1728    513674        2       4         2       2        1         2       2
1729    513713        1       5         2       2        2         1       4
1730    513717        2       7         1       2        2         2       1
1731    513722        1       3         3       2        1         1       4
1732    513726        2       4         3       2        2         1       2
1733    513751        2       7         1       2        2         2       2
1734    513785        2       7         2       2        2         1       2
1735    513814        2       1         2       2        1         2       1
1736    513849        2       6         2       2        2         1       1
1737    513898        2       6         1       2        2         2       2
1738    513910        1       7         2       2        2         1       2
1739    513959        2       7         1       2        2         2       1
1740    514029        2       5         1       2        2         2       2
1741    514057        2       7         1       2        2         2      -9
1742    514058        2       4         2       2        1         2       2
1743    514059        2       2         3       1        1         1       2
1744    514115        1       2         3       2        1         1       2
1745    514153        2       3         4       1        1         1       4
1746    514154        2       5         2       2        2         1       2
1747    514162        2       6         2       2        2         1      -9
1748    514179        2       1         4       1        1         1       1
1749    514245        2       4         3       2        2         2       2
1750    514262        2       7         1       2        2         2      -9
1751    514290        1       7         2       2        2         1       2
1752    514303        1       3         3       2        1         2       3
1753    514328        2       4         2       2        2         2      -9
1754    514342        1       3         1       2        2         2      -9
1755    514440        2       6         2       2        2         1       3
1756    514509        2       2         3       1        1         2       1

      workstat2  region_dv  ...  Label  FdAuthAct_MC1  FdAuthAct_MC2  \
0            -1         10  ...     -1             -1             -1
1            -1         10  ...     -1             -1             -1
2            -1         10  ...     -1             -1             -1
3            -1         10  ...     -1             -1             -1
4            -1         10  ...     -1             -1             -1
5            -1         10  ...     -1             -1             -1
6            -1         10  ...     -1             -1             -1
7            -1         10  ...     -1             -1             -1
8            -1         10  ...     -1             -1             -1
9            -1         10  ...     -1             -1             -1
10           -1         10  ...     -1             -1             -1
11           -1         10  ...     -1             -1             -1
12           -1         10  ...     -1             -1             -1
13           -1         10  ...     -1             -1             -1
14           -1         10  ...     -1             -1             -1
15           -1         10  ...     -1             -1             -1
16           -1         10  ...     -1             -1             -1
17           -1         10  ...     -1             -1             -1
18           -1         10  ...     -1             -1             -1
19           -1         10  ...     -1             -1             -1
20           -1         10  ...     -1             -1             -1
21           -1         10  ...     -1             -1             -1
22           -1         10  ...     -1             -1             -1
23           -1         10  ...     -1             -1             -1
24           -1         10  ...     -1             -1             -1
25           -1         10  ...     -1             -1             -1
26           -1         10  ...     -1             -1             -1
27           -1         10  ...     -1             -1             -1
28           -1         10  ...     -1             -1             -1
29           -1         10  ...     -1             -1             -1
...         ...        ...  ...    ...            ...            ...
1727          1         10  ...      2              0              0
1728          3         10  ...      2              0              0
1729          1         10  ...      1             -1             -1
1730          2         10  ...      1             -1             -1
1731          1         10  ...      2              0              1
1732          1         10  ...      2              0              0
1733          1         10  ...      2              0              0
1734          3         10  ...      2              0              0
1735          3         10  ...      2              0              0
1736          2         10  ...      2              0              0
1737          1         10  ...      2              0              0
1738          1         10  ...      4              0              0
1739          2         10  ...      2              0              0
1740          3         10  ...      2              0              0
1741          2         10  ...      1             -1             -1
1742          1         10  ...      2              0              0
1743          3         10  ...      1             -1             -1
1744          3         10  ...      2              0              0
1745          3         10  ...      2              0              0
1746          1         10  ...      2              0              0
1747          2         10  ...      1             -1             -1
1748          3         10  ...      2              0              1
1749          3         10  ...      1             -1             -1
1750          2         10  ...      1             -1             -1
1751          2         10  ...      1             -1             -1
1752          1         10  ...      2              1              0
1753          1         10  ...      1             -1             -1
1754          1         10  ...      1             -1             -1
1755          2         10  ...      1             -1             -1
1756          3         10  ...      3              0              0

      FdAuthAct_MC3  FdAuthAct_MC4  FdAuthAct_MC5  FdAuthAct_MC6  \
0                -1             -1             -1             -1
1                -1             -1             -1             -1
2                -1             -1             -1             -1
3                -1             -1             -1             -1
4                -1             -1             -1             -1
5                -1             -1             -1             -1
6                -1             -1             -1             -1
7                -1             -1             -1             -1
8                -1             -1             -1             -1
9                -1             -1             -1             -1
10               -1             -1             -1             -1
11               -1             -1             -1             -1
12               -1             -1             -1             -1
13               -1             -1             -1             -1
14               -1             -1             -1             -1
15               -1             -1             -1             -1
16               -1             -1             -1             -1
17               -1             -1             -1             -1
18               -1             -1             -1             -1
19               -1             -1             -1             -1
20               -1             -1             -1             -1
21               -1             -1             -1             -1
22               -1             -1             -1             -1
23               -1             -1             -1             -1
24               -1             -1             -1             -1
25               -1             -1             -1             -1
26               -1             -1             -1             -1
27               -1             -1             -1             -1
28               -1             -1             -1             -1
29               -1             -1             -1             -1
...             ...            ...            ...            ...
1727              0              0              0              1
1728              0              0              0              0
1729             -1             -1             -1             -1
1730             -1             -1             -1             -1
1731              1              0              0              0
1732              0              0              0              0
1733              0              0              0              0
1734              1              0              0              0
1735              0              0              0              0
1736              0              0              0              0
1737              0              0              0              0
1738              0              0              0              1
1739              0              0              0              0
1740              0              0              0              0
1741             -1             -1             -1             -1
1742              0              0              0              1
1743             -1             -1             -1             -1
1744              1              0              0              0
1745              0              0              0              0
1746              1              0              0              0
1747             -1             -1             -1             -1
1748              1              1              0              1
1749             -1             -1             -1             -1
1750             -1             -1             -1             -1
1751             -1             -1             -1             -1
1752              0              0              0              0
1753             -1             -1             -1             -1
1754             -1             -1             -1             -1
1755             -1             -1             -1             -1
1756              0              0              0              0

      FdAuthAct_MC7  FdAuthAct_MC8  FdAuthAct_MC9
0                -1             -1             -1
1                -1             -1             -1
2                -1             -1             -1
3                -1             -1             -1
4                -1             -1             -1
5                -1             -1             -1
6                -1             -1             -1
7                -1             -1             -1
8                -1             -1             -1
9                -1             -1             -1
10               -1             -1             -1
11               -1             -1             -1
12               -1             -1             -1
13               -1             -1             -1
14               -1             -1             -1
15               -1             -1             -1
16               -1             -1             -1
17               -1             -1             -1
18               -1             -1             -1
19               -1             -1             -1
20               -1             -1             -1
21               -1             -1             -1
22               -1             -1             -1
23               -1             -1             -1
24               -1             -1             -1
25               -1             -1             -1
26               -1             -1             -1
27               -1             -1             -1
28               -1             -1             -1
29               -1             -1             -1
...             ...            ...            ...
1727              0              0              0
1728              0              0              1
1729             -1             -1             -1
1730             -1             -1             -1
1731              0              0              0
1732              0              0              1
1733              0              0              1
1734              0              0              0
1735              0              0              1
1736              0              0              1
1737              1              0              0
1738              1              0              0
1739              0              0              1
1740              0              0              1
1741             -1             -1             -1
1742              0              0              0
1743             -1             -1             -1
1744              0              0              0
1745              0              0              1
1746              1              0              0
1747             -1             -1             -1
1748              1              0              0
1749             -1             -1             -1
1750             -1             -1             -1
1751             -1             -1             -1
1752              0              0              0
1753             -1             -1             -1
1754             -1             -1             -1
1755             -1             -1             -1
1756              0              0              1

[1757 rows x 502 columns]

In [35]:
# save outcome variable in new object
food_poisoning_last_year = pd.DataFrame(food_and_you_wales, columns=["bpoison"])
food_poisoning_last_year

      bpoison
0           1
1           2
2           1
3           1
4           2
5           1
6           2
7           2
8           2
9           2
10          2
11          2
12          2
13          1
14          2
15          2
16          1
17          2
18          2
19          1
20          1
21          2
22          1
23          2
24          2
25          1
26          1
27         -8
28          2
29          2
...       ...
1727        2
1728        2
1729        2
1730        2
1731        1
1732        2
1733        2
1734        2
1735        1
1736        2
1737        2
1738        2
1739        2
1740        2
1741        1
1742        1
1743        2
1744        2
1745        1
1746        2
1747        1
1748        1
1749        2
1750        2
1751        1
1752        2
1753        2
1754        2
1755        1
1756        1

[1757 rows x 1 columns]

In [32]:
# return numpy array from df
food_and_you_scaled = food_and_you_wales.values
food_and_you_scaled

array([[ 1.00027e+05,  2.00000e+00, -1.00000e+00, ..., -1.00000e+00,
        -1.00000e+00, -1.00000e+00],
       [ 1.00037e+05,  2.00000e+00, -1.00000e+00, ..., -1.00000e+00,
        -1.00000e+00, -1.00000e+00],
       [ 1.00129e+05,  2.00000e+00, -1.00000e+00, ..., -1.00000e+00,
        -1.00000e+00, -1.00000e+00],
       ...,
       [ 5.14342e+05,  1.00000e+00,  3.00000e+00, ..., -1.00000e+00,
        -1.00000e+00, -1.00000e+00],
       [ 5.14440e+05,  2.00000e+00,  6.00000e+00, ..., -1.00000e+00,
        -1.00000e+00, -1.00000e+00],
       [ 5.14509e+05,  2.00000e+00,  2.00000e+00, ...,  0.00000e+00,
         0.00000e+00,  1.00000e+00]])

In [ ]:
# remove values that are 'refused to answer', 'unknown' etc
# remove by column?

In [34]:
# normalise each column between 0 and 1
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
norm_food_and_you = min_max_scaler.fit_transform(food_and_you_scaled)
print (norm_food_and_you)

[[0.00000000e+00 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.41265001e-05 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.46090301e-04 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [9.99597087e-01 0.00000000e+00 5.00000000e-01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [9.99833527e-01 1.00000000e+00 8.75000000e-01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00000000e+00 1.00000000e+00 3.75000000e-01 ... 5.00000000e-01
  5.00000000e-01 1.00000000e+00]]

In [ ]:
# create new function to normalise by column between 0 and 1
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [29]:
# import regression model
## could use Recursive feature elimination (?)
from sklearn import linear_model
from sklearn import LinearRegression

ImportError: cannot import name 'LinearRegression' from 'sklearn' (/Users/mihaelanemes/anaconda3/lib/python3.7/site-packages/sklearn/__init__.py)

In [27]:
# run linear regression model
food_poisoning_model = LinearRegression().fit(norm_food_and_you, food_poisoning_last_year)

NameError: name 'LinearRegression' is not defined